.about_hero--wrap img {
  width: 800px;
  animation: bouncing 3s linear infinite;
}

.about--content ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.about--content ul li {
  line-height: 1.8;
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
  color: var(--text);
  text-align: justify;
  word-break: break-word;
}

.about--content ul li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #26da15;
  position: absolute;
  left: 0;
  top: 10px;
}
