/* header */
.header_area {
  position: relative;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}

.header_area.white_nav {
  position: fixed;
  z-index: 20;
  top: 0px;
  background-color: white;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}

.menu > .nav-item {
  position: relative;
  cursor: pointer;
  padding: 2rem 0;
}

.menu > .nav-item > .custom-nav-link {
  padding: 0 !important;
  color: var(--default);
  transition: color 0.3s ease 0s;
  position: relative;
}

.menu > .nav-item > .custom-nav-link:before {
  content: "";
  width: 0;
  height: 2px;
  background: var(--heading);
  position: absolute;
  bottom: -5px;
  left: auto;
  right: 0;
  transition: all 0.2s linear;
}

.menu > .nav-item:hover .custom-nav-link:before,
.menu > .nav-item .custom-nav-link.active::before {
  width: 100%;
  left: 0;
  right: auto;
}

.menu > .nav-item:hover .custom-nav-link,
.menu > .nav-item .custom-nav-link.active {
  color: var(--heading);
}

.menu > .nav-item + .nav-item {
  margin-left: 2.5rem;
}

.sub-menu {
  opacity: 0;
  border-radius: 4px;
  border: 1px solid #f1f6fe;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  position: absolute;
  background: white;
  top: 80px;
  padding-left: 0;
  width: 240px;
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
  right: -14px;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}

.sub-menu a {
  display: block;
  padding: 12px;
}

.sub-menu > li:hover {
  background: #f5f5f5;
}

.nav-item.submenu:hover > .sub-menu {
  opacity: 1;
  pointer-events: all;
}

.btn_contact {
  cursor: pointer;
  color: var(--heading);
  margin-left: 2.5rem;
  box-shadow: rgba(0, 11, 40, 0.1) 0px 20px 24px 0px;
  min-width: 120px;
  text-align: center;
  border: 2px solid #4267b2;
  border-radius: 4px;
  padding: 12px 24px;
  transition: all 0.3s ease 0s;
  /* background: linear-gradient(
    45deg,
    rgb(239, 193, 243),
    rgb(150, 208, 226)
  ); */
}

.btn_contact:hover {
  color: white !important;
  background: #4267b2;
}
