@media only screen and (max-width: 1700px) {
  .banner_hero--wrap img {
    max-width: 700px;
  }

  .about_hero--wrap img {
    width: 700px;
  }
}

@media only screen and (max-width: 1399px) {
  /* common styles */
  span.sub_title {
    font-size: 20px;
  }

  h2.section_title {
    font-size: 32px;
    margin-bottom: 1rem;
  }

  .block {
    padding-top: 70px;
  }

  /* hero banner */
  .banner_top--left h2 {
    font-size: 40px;
  }

  /* about section */
  .about_hero--wrap img {
    width: 700px;
  }

  .pe-5 {
    padding-right: 0 !important;
  }

  /* services section */
  .services--content .service_item {
    padding: 20px;
  }

  .services--main img {
    max-width: 650px;
  }

  .services--title {
    margin-bottom: 3rem;
  }

  /* why section */
  .reason_item--thumb {
    height: 210px;
    margin-bottom: 20px;
  }

  .reason_item--thumb img {
    max-width: 120px;
  }

  .reason_item.modern_tech,
  .reason_item.support {
    margin-top: 140px;
  }

  .reason_item--content h3 {
    font-size: 22px;
    margin-bottom: 1rem;
  }

  /* workflow section */
  .why--content {
    margin-bottom: 1rem;
  }

  .workflow_step--animation img {
    max-height: 400px;
  }

  .workflow_step--content p {
    font-size: 22px;
  }

  /* contact section */
  .contact-item-content h5 {
    font-size: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* common styles */
  .block {
    padding-top: 50px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  /* header */
  .menu > .nav-item + .nav-item {
    margin-left: 1.5rem;
  }

  /* hero banner */
  .banner_top--left h2 {
    font-size: 36px;
  }

  .banner_hero--wrap img {
    max-width: 600px;
  }

  /* about section */
  .about_hero--wrap img {
    width: 600px;
  }

  /* services section */
  .service_item .service_item--thumb img {
    width: 50px;
  }

  .service_item .service_item--content {
    padding-left: 1rem;
  }

  .service_item .service_item--content h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .services--main img {
    max-width: 500px;
  }

  /* why section */
  .reason_item--thumb {
    width: 200px;
  }

  .reason_item--content h3 {
    font-size: 21px;
  }

  .reason_item {
    padding: 0 20px 30px 20px;
  }

  /* contanct section */
  img.contact_bg {
    width: 1350px;
  }
}

@media (max-width: 991px) {
  /* common styles */
  span.sub_title {
    font-size: 20px;
  }

  h2.section_title {
    font-size: 32px;
    margin-bottom: 1rem;
  }

  .block {
    padding-top: 40px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }

  img {
    max-width: 100%;
  }

  /* header */
  .navbar-brand img {
    width: 60px;
  }

  .navbar-toggler,
  .navbar-toggler .menu_toggle {
    display: inline-flex;
  }

  .hamburger {
    display: inline-flex;
    flex-direction: column;
  }

  .hamburger span {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #4267b2;
  }

  .hamburger > span + span {
    margin-top: 5px;
  }

  .side_menu--wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .side_menu--wrap.show {
    opacity: 1;
    pointer-events: all;
  }

  .side_menu--wrap.show .side_menu--main {
    transform: translateX(0);
  }

  .side_menu--wrap .side_menu--main {
    background-color: #020107;
    height: 100%;
    width: min(500px, 100%);
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.4s;
  }

  .side_menu--wrap .side_menu--main > i {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    background-color: transparent;
    color: white;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .menu.mobile_menu > .nav-item {
    padding: 0;
    font-size: 28px;
    text-align: center;
    width: max-content;
  }

  .menu.mobile_menu > .nav-item > .custom-nav-link:before {
    background-color: white;
  }

  .menu.mobile_menu > .nav-item:hover .custom-nav-link,
  .menu.mobile_menu > .nav-item .custom-nav-link.active {
    color: white;
    opacity: 1;
  }

  .menu.mobile_menu {
    align-items: center;
  }

  .menu.mobile_menu > .nav-item > .custom-nav-link {
    color: white !important;
    opacity: 0.6;
  }

  .menu.mobile_menu > .nav-item + .nav-item {
    margin-left: 0;
    margin-top: 1rem;
  }

  .side_menu_cta {
    margin: 5rem 0;
    text-align: center;
  }

  .side_menu_cta > span,
  .side_links > span {
    color: white !important;
    font-size: 18px;
    display: block;
  }

  .side_links > span {
    opacity: 0.6;
  }

  .side_menu_cta .mobile_cta_btn {
    min-height: 60px;
    display: flex;
    overflow: hidden;
    height: 60px;
    align-items: center;
    background-color: #fff;
    border-radius: 0;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    font-family: "Open Sans";
    border: none;
    width: 100%;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .side_menu_cta .mobile_cta_btn > span {
    width: 80%;
    height: 60px;
    line-height: 60px;
    display: inline-block;
  }

  .side_menu_cta .mobile_cta_btn > i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-left: 1px solid #020107;
    font-size: 2rem;
  }

  .side_menu_social_links {
    display: flex;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 0;
    justify-content: center;
  }

  .side_menu_social_links > li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: 0.6;
  }

  .side_menu_social_links > li + li {
    margin-left: 1rem;
  }

  .side_menu_social_links li a {
    color: white !important;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
  }

  /* hero banner */
  .banner_top--left {
    text-align: center;
    padding-top: 40px;
  }

  .banner_top--left h2 {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .banner_top--left p {
    margin-bottom: 2rem;
  }

  .banner_hero--wrap img.banner_decor {
    display: none;
  }

  /* about section */
  .about--content {
    margin-top: 2rem;
  }

  /* why section */
  .reason_item {
    margin: 140px 15px 45px 15px;
  }

  .reason_item--thumb {
    height: 160px;
    margin-top: -110px;
  }

  .reason_item--thumb img {
    max-width: 90px;
  }

  .reason_item.modern_tech,
  .reason_item.support {
    margin-top: 110px;
  }

  .reason_item {
    margin: 110px 15px 45px 15px;
  }

  /* contact section */
  .footer--left ul.short_links {
    flex-wrap: wrap;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  /* portfolio page */
  .sub_page_banner {
    padding: 229px 0 105px;
  }

  .sub_page_banner .page_title {
    padding-left: 0;
  }

  ul.portfolio_breadcrumb {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .sub_page_banner {
    padding-top: 222px;
  }
}

@media only screen and (max-width: 575px) {
  /* common styles */
  .fp-section.fp-table,
  .fp-slide.fp-table,
  .fp-tableCell {
    height: auto !important;
  }

  .section {
    padding-top: 80px;
  }

  .section.contact {
    padding-bottom: 40px;
  }

  p,
  li,
  span {
    font-size: 16px;
  }

  span.sub_title {
    font-size: 18px;
  }

  h2.section_title {
    font-size: 26px;
  }

  /* header */
  .menu.mobile_menu > .nav-item + .nav-item {
    margin-top: 10px;
  }

  .side_menu_cta {
    margin: 2rem 0;
  }

  /* hero banner */
  .banner_top {
    height: 100vh;
  }

  .banner_top .container,
  .banner_top .container .row {
    height: 100%;
  }

  .banner_hero--wrap img {
    max-width: 100%;
  }

  .decors,
  .banner_hero--wrap img.banner_decor {
    display: none;
  }

  .banner_top--left {
    text-align: center;
    padding-top: 50px;
  }

  .banner_top--left h2 {
    font-size: 28px;
  }

  .banner_top--left p {
    margin-bottom: 2rem;
  }

  /* about section */
  .about_hero--wrap img {
    width: 100%;
    margin-bottom: 3rem;
  }

  .about--content {
    margin-top: 0;
    text-align: center;
  }

  /* service section */
  .services--content .service_item {
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .service_item .service_item--content {
    padding-left: 0;
    margin-top: 1rem;
    text-align: center;
  }

  .service_item .service_item--content h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  /* why section */
  .why--content .section_desc br,
  .portfolio--content .section_desc br,
  .services--title .section_desc br {
    display: none;
  }

  .reason_item {
    padding: 0 20px 30px 20px;
  }

  .reason_item--content h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  /* workflow section */
  .workflow_step--content h3 {
    font-size: 20px;
  }

  .workflow_step--content p {
    font-size: 16px;
  }

  /* portfolio */
  .portfolio--main {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .portfolio--block .portfolio-meta {
    padding: 10px;
  }

  .portfolio--block .portfolio-meta h4 {
    display: none;
  }

  .portfolio--block .portfolio-meta p {
    padding-right: 20px;
    line-height: 1.2;
  }

  .portfolio-thumb {
    height: 220px;
    transition: none;
  }

  /* payment */
  .payment--title {
    margin-bottom: 2rem;
  }

  /* contact */
  .footer {
    position: relative;
    padding-bottom: 20px;
  }

  .contact-info {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-item {
    width: 50%;
    flex: unset;
  }

  .contact-item:last-child {
    width: 70%;
  }

  .contact-item-content h5 {
    font-size: 16px;
  }

  img.contact_bg {
    display: none;
  }

  .contact-item-content span {
    font-size: 16px;
  }

  .footer--right {
    text-align: center;
  }

  .footer--right ul.social_links {
    padding: 0;
    justify-content: center;
  }

  .footer--left ul.short_links li {
    margin-right: 0;
  }

  .footer--right ul.social_links li:first-child {
    margin-left: 0;
  }

  .footer--left {
    text-align: center;
  }

  /* portfolio page */
  .sub_page_banner {
    padding-top: 148px;
  }

  .sub_page_banner .page_title h1 {
    font-size: 34px;
  }

  .sub_page_banner .page_title {
    text-align: center;
    /* padding-top: 20px; */
    /* transform: translateY(-140px); */
  }

  .portfolio_block {
    padding-top: 0px;
  }

  .page_title #bo_v_title {
    font-size: 24px;
    max-width: 330px;
  }
}
