:root {
  --heading: #4267b2;
  --text: #504c89;
  --sub-text: #ff8a00: --secondary: rgb(90, 182, 221);
  --default: rgb(5, 20, 65);
}

body, html {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: "Thasadith", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  word-break: break-word !important;
}

img {
  /* max-width: 100%; */
  height: auto;
}

ul li {
  list-style: none;
}

li {
  font-size: 18px;
}

p {
  font-size: 20px;
  color: var(--text);
}

a, .btn, button, span {
  text-decoration: none !important;
  outline: none;
  color: var(--default) !important;
  /* height: 52px !important; */
}

span.sub_title {
  display: inline-block;
  color: rgb(90, 182, 221);
  font-size: 1.5rem;
  text-transform: uppercase;
}

h2.section_title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(45deg, var(--heading), rgb(90, 182, 221));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.section_desc {
  line-height: 1.5;
}

.rtl {
  direction: rtl;
}

.section {
  padding-top: 120px;
}

.section.contact {
  padding-bottom: 120px;
}

#fp-nav {
  z-index: 1;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  height: 8px;
  width: 8px;
  background: rgb(90, 182, 221);
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 16px;
  width: 16px;
}

a.btn_get.btn_hover {
    cursor: pointer;
    color: white !important;
    min-width: 120px;
    text-align: center;
    background-color: #4267b2;
    border-radius: 4px;
    padding: 12px 24px;
    transition: all 0.3s ease 0s;
}

.swiper-container {
  cursor: grab;
}

/* workflow section */
.workflow_step--animation img {
  max-width: 100%;
  max-height: 450px;
}

.workflow_step--content {
  margin-top: 1rem;
}

.workflow_step--content p {
  font-size: 24px;
  margin-bottom: 0;
}

.workflow_step--content h3 {
  color: #3b368c;
  font-weight: 600;
  font-family: "Open Sans";
}

/* portfolio section */
.portfolio--content {
  margin-bottom: 2rem;
}

.portfolio-thumb.ms {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/matrixsense.ai.png);
}

.portfolio-thumb.vcci {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/dichvunguoigia.vn.png);
}

.portfolio-thumb.sisu {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/sisu-imex.com_home.png);
}

.portfolio-thumb.upselect {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/upselect.vn_.png);
}

.portfolio-thumb.joytube {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/joytu.be_.png);
}

.portfolio-thumb.indo {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/singa-indo.com_.png);
}

.portfolio-thumb.asia {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/executives.asia_.png);
}

.portfolio-thumb.laoscitech {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/laoscitec.com.png);
}

.portfolio-thumb.wildboar {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/wbpc.vn_.png);
}

.portfolio-thumb.cooken {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/cookentrading.com.vn_.png);
}

.portfolio-thumb.edu {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/daytotkhoasudia.vn_Mon_hoc.png);
}

.portfolio-thumb.stellar {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/stellar-swiss.com.png);
}

.portfolio-thumb.kovi {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/kovicon.vn.png);
}

.portfolio-thumb.testme {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/testme.vn.png);
}

.portfolio-thumb.hp {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/hp.minastik.com_home.png);
}

.portfolio-thumb.totday {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/totday.com.png);
}

.portfolio-thumb.cake {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/petitsouriscakes.com.au.png);
}

.portfolio-thumb.pharmed {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/greatpharmed.com.png);
}

.portfolio-thumb.chay {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/ngocngachay.vn.png);
}

.portfolio-thumb.suanon {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/suanoncolosmulti.vn.png);
}

.portfolio-thumb.vinadrip {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/vinadripcoffee.com.png);
}

.portfolio-thumb.tranhviet {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/tranhviet.png);
}

.portfolio-thumb.tuetri {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/tuetri.com.png);
}

.portfolio-thumb.lcc {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/longcotran.png);
}

.portfolio-thumb.tg {
  background-image: url(/theme/minastik/img/minastik/projects-thumbnail/thiengiac.png);
}

.portfolio--main {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.portfolio--main .portfolio--block {
  text-align: center;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 30px rgb(0 0 0 / 21%);
}

.portfolio--main .portfolio--block:hover .portfolio-thumb {
  background-position: center bottom;
}

.portfolio--block .portfolio-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(180deg, transparent 62%, rgba(0,0,0,0.00345888) 63.94%, rgba(0,0,0,0.014204) 65.89%, rgba(0,0,0,0.0326639) 67.83%, rgba(0,0,0,0.0589645) 69.78%, rgba(0,0,0,0.0927099) 71.72%, rgba(0,0,0,0.132754) 73.67%, rgba(0,0,0,0.177076) 75.61%, rgba(0,0,0,0.222924) 77.56%, rgba(0,0,0,0.267246) 79.5%, rgba(0,0,0,0.30729) 81.44%, rgba(0,0,0,0.341035) 83.39%, rgba(0,0,0,0.367336) 85.33%, rgba(0,0,0,0.385796) 87.28%, rgba(0,0,0,0.396541) 89.22%, rgba(0,0,0,0.4) 91.17%);
}

.portfolio--block .portfolio-meta {
  text-align: left;
}

.portfolio--block .portfolio-meta h4 {
  font-weight: 600;
  color: white;
  font-family: 'Open Sans';
  font-size: 22px;
  margin-bottom: 5px;
}

.portfolio--block .portfolio-meta p {
  font-size: 18px;
  line-height: 1;
  color: white;
}

.portfolio--block .portfolio-meta i {
  width: 30px;
  height: 30px;
  font-size: 24px;
  color: white;
}

.portfolio-thumb {
  height: 310px;
  background-repeat: repeat;
  background-position: center top;
  background-size: 100%;
  transition: all 8s ease;
}

.portfolio--main + button.view-more {
  height: 52px;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
  background-color: #4267b2;
  border-radius: 4px;
  padding: 12px 24px;
  display: block;
  margin: 2rem auto 0 auto;
}

button.view-more a {
  color: white !important;
}

button.view-more a:hover {
  color: white !important;
}

/* portfolio page */
.portfolio_hero {
  margin-top: -110px;
  background-image: url(/theme/minastik/img/minastik/portfolio_hero.png);
  background-size: cover;
  padding: 338px 0 210px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}

.sub_page_banner .page_title {
  padding-left: 6rem;
}

.sub_page_banner .page_title h1 {
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 12px;
  font-weight: 600;
  font-family: 'Open Sans';
  background: -webkit-linear-gradient(275deg, var(--heading), rgb(90, 182, 221));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub_page_banner .page_title ul.portfolio_breadcrumb {
  display: flex;
}

.sub_page_banner .page_title ul.portfolio_breadcrumb li {
  text-transform: uppercase;
  font-size: 20px;
}

.sub_page_banner .page_title ul.portfolio_breadcrumb li i {
  margin: 0 10px;
}

ul.portfolio_breadcrumb {
  padding-left: 0;
}

/* animations */
@keyframes bouncing {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-15px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes spin1 {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@keyframes spin2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 991px) {
  .custom_container {
    max-width: 100%;
  }
}
